# OS junk
.DS_Store

# Node / Vite
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Vite dev artifacts
.vite/

# Editor
.vscode/
.idea/

# Env
.env
.env.*

# Build output
dist/